@model IEnumerable<DienDanThaoLuan.Models.NguoiDung>

<div class="card">
    <div class="card-header bg-custom text-white">
        Quản trị viên
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var i in Model)
        {
            <li class="list-group-item">
                <img src="~/Images/@i.AnhDaiDien" alt="User Icon"
                     style="width: 30px; height: 30px; border-radius: 15px; margin-right: 8px;" />
                <a href="@Url.Action("ThongTin", "Account", new { id = i.MaND })"
                   class="text-decoration-none text-primary fw-semibold">
                    @i.TenDangNhap
                </a>
            </li>
        }
    </ul>
</div>
