@model DienDanThaoLuan.Models.NguoiDung
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Quên mật khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/registerFormStyle.css">
</head>
<body>
    <section class="ftco-section" style="padding-top: 17em; padding-right: 0px; padding-bottom: 20em; padding-left: 0px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center" style="font-size: 35px; margin-top: -60px">Forgot Password</h3>
                        <form id="forgotPasswordForm">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required name="email" id="email">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3" id="submitButton">Send Request</button>
                            </div>
                        </form>
                        <p id="message"></p>
                        <p id="countdown" style="display: none;">Please wait <span id="timer">30</span> seconds before sending another request.</p>
                        <p class="w-100 text-center">&mdash; Have new password? &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="@Url.Action("Login","Account")" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Sign-in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        var remainingTime = 0;
        var countdownElement = $('#countdown');
        var timerElement = $('#timer');
        var submitButton = $('#submitButton');
        var messageElement = $('#message');

        function updateTimer() {
            if (remainingTime > 0) {
                timerElement.text(remainingTime);
                remainingTime--;
                setTimeout(updateTimer, 1000);
                submitButton.prop('disabled', true);
                countdownElement.show();
            } else {
                submitButton.prop('disabled', false);
                countdownElement.hide();
            }
        }

        $('#forgotPasswordForm').submit(function (e) {
            e.preventDefault();
            submitButton.prop('disabled', true);

            $.ajax({
                url: '@Url.Action("ForgotPassword", "Account")',
                type: 'POST',
                data: { email: $('#email').val() },
                success: function (response) {
                    messageElement.text(response.message);
                    if (response.success) {
                        remainingTime = response.remainingTime;
                        updateTimer();
                    } else if (response.remainingTime) {
                        remainingTime = response.remainingTime;
                        updateTimer();
                    } else {
                        submitButton.prop('disabled', false);
                    }
                },
                error: function () {
                    messageElement.text('Có lỗi xảy ra. Vui lòng thử lại sau.');
                    submitButton.prop('disabled', false);
                }
            });
        });
    });
    </script>
</body>
</html>

